.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://i.pravatar.cc/150?img=3');
    background-size: cover;
  }